<%- include('./partials/headerPartial', { pageTitle: 'Set Visibility' }) %>
    <div class="container p-5">
      <h1>Set File Visibility</h1>

      <form action="/s3/visibility" method="post" >

        <!-- Filename Name -->
        <label for="filename">File Name:</label>
        <input type="text" class="form-control" id="filename" name="filename" required>
        <br>


        <!-- Location Name -->
        <label for="location">Location:</label>
        <input type="text" id="location" class="form-control"  name="location" required>
        <br>
        
        <!-- Radio buttons for access choice -->
        <label>Visibility:</label>
        <input type="radio" id="public" name="visibility" value="Public" class="form-check-input" required>
        <label for="public">Public</label>

        <input type="radio" id="private" name="visibility" class="form-check-input" value="Private" required>
        <label for="private">Private</label>


        <input type="radio" id="shared" name="visibility" class="form-check-input" value="Shared" required>
        <label for="shared">Shared</label>
        <br>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Set Visibility</button>
      </form>
    </div>
    <%- include('./partials/footerPartial') %>


